* {
  top: 0;
  left: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* APP */

.app {
  display: flex;
}

/* HEADER ++ */

#header {
  width: 80%;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#logo {
  width: 220px;
}

#info-button {
  background-color: white;
  width: 21px;
  height: 50px;
}

#tooltip-container {
  width: 130px;
}

/* HEADER END */

/* LOADING SCREEN */

#loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(74, 73, 73, 0.8);

  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
}

#loading-screen-rotate {
  width: 30px;
  height: 30px;
  opacity: 100%;
}

.origin {
  position: relative;

  -webkit-animation: spin 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  animation: spin 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}
@-webkit-keyframes spin {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----- END -------- */

/* AddPointsButton*/

#AddPointsButtonDiv {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  left: 93%;
  top: -4%;
  height: 100vh;
}

/* AddPointsButton end*/

/* Add point input field */

#point-input-header {
  color: Black;
  /*border-bottom: 2px solid black;*/
  margin-top: -5px;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
}

#pointinput:hover {
  border: 1.5px solid black;
}

#pointinput {
  position: absolute;

  width: 225px;
  height: 280px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: white;
  top: 20px;
  left: 77%;
  text-shadow: #bfffba;
}

#pointinputlabels {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
}

#button-point-input {
  margin-top: 10px;
  border: 1.5px solid green;
  border-radius: 5px;
  background-color: #bfffba;
}

#close-point-input {
  margin-left: 77%;
  margin-top: -15%;
}

/* Add point input field END */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* INPUT */

#input-container {
  width: 300px;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  position: absolute;
  transform: translateX(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: flex;
}

#input-main-body {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#input-fields {
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

#location-fields {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#input-visibility-button {
  width: 20px;
  height: 100%;
  display: flex;
  opacity: 0.5;
  border-left: 1.5px solid rgb(199, 197, 197);
  align-items: center;
  justify-content: center;
}

#input-visibility-button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  background-color: rgb(231, 231, 231);
}

#route-info-container {
  width: 90%;
  height: 350px;
  display: flex;
  flex-direction: column;
}

#route-info-container h3 {
  text-align: center;
  margin: 5px 0;
}

#route-info-loc-dest {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 2px solid rgb(221, 221, 221);
}

#route-info-results {
  height: 180px;
  display: flex;
}

.route-info-results-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.route-info-label {
  font-size: 12px;
  font-weight: bold;
}

.route-info-value {
  font-size: 14px;
}

.vertical-line {
  border-right: 2px solid rgb(221, 221, 221);
  height: 100%;
}

/* INPUT END */

/* MAP */

.map-wrapper {
  width: 100%;
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 100%;
}

.custom-marker-beer {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/beer_icon.png");
}

.custom-marker-wine {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/wine-icon.png");
}

.custom-marker-finish {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/celebration2.png");
}

/* MAP END */
